{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<div id="container" style="background-color: black; background-size: cover;">
  <span class="text1">Welcome to</span>
  <span class="text2" style="font-family: 'Gloria Hallelujah', cursive;">awards</span>
</div>

<div class="container">
  {% for img in project %}
  <div class="row" ">
    <div class="col-md-1" style="left: 22.5%;">
      <a href="{% url 'profile' img.id %}" style="color: white; font-size: 25px">Name: {{img.project_name}}</a>
      <br>
      <img class="img-respronsive" src="{{img.image.url}}" alt="image" style="height: 550px; width:600px;">
      <br>
      <a href="{% url 'profile' user.id %}" style="color: white;"><strong>{{img.user}}</strong></a>
      <a href="{{img.url}}" style="color: white;">{{img.url}}</a>
      <button class="btn btn-dark">
        <a href="{% url 'rating' img.id %}" style="color: black;">comments</a>
      </button>
      <hr>
    </div>
  </div>
  {% empty %}
  {% endfor %}
</div>
<style>
  #container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  #container span {
    text-transform: uppercase;
    display: block;
  }

  .text1 {
    color: white;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 8px;
    margin-bottom: 25px;
    background: black;
    position: relative;
    animation: text 1.5s 1;
  }

  .text2 {
    font-size: 27px;
    color: #6ab04c;
  }

  .container {
    justify-content: center;
    height: 100vh;
  }

  @keyframes text {
    0% {
      color: black;
      margin-bottom: -40px;
    }

    35% {
      letter-spacing: 50px;
      margin-bottom: -40px;
    }
  }
</style>

{% endblock %}